* {
    font-family: "Roboto", "Trebuchet MS", sans-serif;
}

body {
    background-color: #1F2937;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.container {
    background-color: #F9FAF8;              
}

.main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

button {
    color: #E5E7EB;
    background-color: #3882F6;
}

.info-text,
.content,
.quote {
    color: #1F2937;
}

.info-text,
.quote {
    font-size: 24px;
}

.info-text {
    font-weight: bolder;
}
.quote {
    font-style: italic;
}

#name {
    font-size: 16px;
    font-weight: bolder;
}