* {
    font-family: "Roboto", "Trebuchet MS", sans-serif;
}

body {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.nav-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0rem 8rem;
}

/*Go to the class selector where the logo is and set "margin-right" to "auto" to move logo to the left and have everything else to the right.*/

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;
    margin-right: auto;
}

.nav-links:hover {
    color: #5a5a5a;
}

.hero {
    margin: 8rem;
    display: flex;
}

.image {
    background-color: #555964;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.container {
    background-color: #F9FAF8;              
}

.main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

button {
    color: #E5E7EB;
    background-color: #3882F6;
    height: 45px;
    width: 120px;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 10px;
}

.info-text,
.content,
.quote {
    color: #1F2937;
}

.info-text,
.quote {
    font-size: 24px;
}

.info-text {
    font-weight: bolder;
}
.quote {
    font-style: italic;
}

#name {
    font-size: 16px;
    font-weight: bolder;
}